<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.prj1.mapper.board.ReplyMapper">

    <delete id="deleteByBoardId">
        DELETE FROM Reply
        WHERE boardId = #{id}
    </delete>

    <update id="update">
        UPDATE Reply
        SET
        content = #{content}
        WHERE
        id = #{id}
    </update>

    <select id="selectById" resultType="com.study.prj1.domain.board.ReplyDto">
        SELECT
        id,
        boardId,
        content,
        writer,
        inserted
        FROM
        Reply
        WHERE
        id = #{id}

    </select>

    <delete id="deleteById">
        DELETE FROM Reply
        WHERE id = #{id}
    </delete>

    <select id="selectReplyByBoardId" resultType="com.study.prj1.domain.board.ReplyDto">
        SELECT
        id,
        boardId,
        content,
        writer,
        (writer = #{username}) editable,
        inserted
        FROM
        Reply
        WHERE
        boardId = #{boardId}
        ORDER BY
        id DESC
    </select>

    <insert id="insert">
        INSERT INTO Reply (boardId, content, writer)
        VALUES (#{boardId}, #{content}, #{writer})
    </insert>

    <delete id="deleteByMemberId">
        DELETE FROM Reply
        WHERE writer = #{id}
    </delete>
</mapper>